<h1>{{titlecase item }} Information</h1>

{{#each data}}
<div class="item-info">
  <img class="item-info__image" src={{this.image}}>

  {{#if (compare ../item 'dish')}}
  {{> dietary-info this}}
  {{/if}}

  {{#if (compare ../item 'community')}}
  <p class="item-info__additional-info">Community info</p>
  {{/if}}

  <h3 class="item-info__name">{{this.name}}</h3>
  <p class="item-info__teaser">{{this.teaser}}</p>
  <p class="item-info__user">{{this.user}}</p>

  {{#if (compare ../item 'dish')}}
  <div class="item-info__info">
    <p class="item-info__info__servings">Servings: {{this.servings}}</p>
    <p class="item-info__info__cooked">Cooked: {{this.cooked}}</p>
    <p class="item-info__info__description">{{this.description}}</p>
  </div>
  {{/if}}

  {{#if (compare ../item 'community')}}
  <div class="item-info__info">
    <p class="item-info__info__location">Location: {{this.location}}</p>
    <p class="item-info__info__description">{{this.description}}</p>
  </div>
  {{/if}}
</div>

<button class='red-button'>
  {{#if (compare ../item 'dish')}}
  Claim
  {{/if}}

  {{#if (compare ../item 'community')}}
  Join
  {{/if}}
</button>
{{else}}
<h3>Sorry, there seems to be nothing here.</h3>
{{/each}}