<h1>{{titlecase item }} Information</h1>

{{#each data}}
<div class="item-info">
  <img class="item-info__image" src={{this.image}}>

  {{#if (compare ../item 'dish')}}
  {{> dietary-info this}}
  {{/if}}

  {{#if (compare ../item 'community')}}
  <p class="item-info__additional-info">Community info</p>
  {{/if}}

  <h3 class="item-info__name">{{this.name}}</h3>
  <p class="item-info__teaser">{{this.teaser}}</p>
  <p class="item-info__user">{{this.user}}</p>

  {{#if (compare ../item 'dish')}}
  <div class="item-info__info">
    <p class="item-info__info__servings">Servings: {{this.servings}}</p>
    <p class="item-info__info__cooked">Cooked: {{this.cooked}}</p>
    <p class="item-info__info__description">{{this.description}}</p>
  </div>
  {{/if}}

  {{#if (compare ../item 'community')}}
  <div class="item-info__info">
    <p class="item-info__info__location">Location: {{this.location}}</p>
    <p class="item-info__info__description">{{this.description}}</p>
  </div>
  {{/if}}
</div>

<form class='item-form' method="POST" action="/{{../item}}-action">
  {{!-- <label class='item-form__name' for="item-form__name">Please give your name:
    <input id='item-form__name' type="text" required>
  </label> --}}


  {{#if (compare ../item 'dish')}}
  <input type="hidden" value="{{this.id}}" name="dishID">
  <input type="hidden" value="{{this.creatorid}}" name='creatorID'>
  <input type="hidden" value="{{this.communityid}}" name='communityID'>


  {{/if}}
  {{#if (compare ../item 'community')}}
  <input type="hidden" value="{{this.id}}" name="communityID">
  <input type="hidden" value="{{this.adminid}}" name="adminID">
  {{/if}}


  <input type="hidden" value="1" name="userID">


  <button action="submit">
    {{#if (compare ../item 'dish')}}
    Claim
    {{/if}}

    {{#if (compare ../item 'community')}}
    Join
    {{/if}}
  </button>
</form>
{{else}}
<h3>Sorry, there seems to be nothing here.</h3>
{{/each}}