<h1 class="success-title">Hooray!</h1>

<div class="success-card" style="background-image:url({{ dish.image }}); background-repeat: no-repeat">
  <!-- <img class="success-card_image" src="{{ dish.image }}"> -->

  <div class="success-card__info">

    <h2 class="success-card__message">You've {{ action }}ed:</h2>
    <h3 class="success-card__dish">{{ dish.name }}</h3>

    {{#if user}}
    <div class="success-card__chef">
      <img src="{{ user.image }}" class="success-card__chef-image">
      <p class="success-card__chef-credit">by {{ user.username }}</p>
    </div>

    <p class="success-card__collection-time">{{ dish.collection_time }}</p>
    <p class="success-card__collection-location">{{ dish.collection_location }}</p>
    {{/if}}
    <a href="/{{item}}-listings" class='return-link'><i class="fas fa-arrow-left"></i>See more food</a>

  </div>

</div>

<!-- <p>{{ user.username }}</p>
<p>{{ user.image }}</p> -->