<div class="card">
    <div class="card__image">
        <img src={{image}}>
        <div class="card__info">
            <h3 class="card__info__name">{{name}}</h3>
            <p class="card__info__additional-info"></p>
            <p class="card__info__user"></p>
        </div>
    </div>
    <div class="card__teaser">
        <div class="card__options">
            <button class="card__options__action">{{item}}</button>
            <button class="card__options__more-info">{{item}}</button>
        </div>
        <p>{{teaser}}</p>
    </div>
</div>