<div class="card">
    <div class="card__image">
        <img src={{image}}>
        <div class="card__info">
            <h3 class="card__info__name">{{name}}</h3>
            <p class="card__info__additional-info"></p>
            <p class="card__info__user"></p>
        </div>
    </div>
    <div class="card__teaser">
        <div class="card-options">
            {{#if (compare item 'dish')}}
            <a href="/{{item}}/{{dishid}}"><button class="card-options__more-info">More Info</button></a>
            {{else}}
            <a href="/{{item}}/{{communityid}}"><button class="card-options__more-info">More Info</button></a>
            {{/if}}
        </div>
        <p>{{teaser}}</p>
    </div>
</div>